<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>NX22QCXLLH.com.frenchiosdev.explicit</string>
	<key>com.apple.developer.ClassKit-environment</key>
	<array>
		<string>production</string>
		<string>development</string>
	</array>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<string>*</string>
	<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
	<true/>
	<key>com.apple.developer.carplay-audio</key>
	<true/>
	<key>com.apple.developer.devicecheck.app-attest-opt-in</key>
	<array>
		<string>CDhash</string>
	</array>
	<key>com.apple.developer.devicecheck.appattest-environment</key>
	<array>
		<string>development</string>
		<string>production</string>
	</array>
	<key>com.apple.developer.driverkit.allow-third-party-userclients</key>
	<true/>
	<key>com.apple.developer.family-controls</key>
	<true/>
	<key>com.apple.developer.fileprovider.testing-mode</key>
	<true/>
	<key>com.apple.developer.game-center</key>
	<true/>
	<key>com.apple.developer.group-session</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.access</key>
	<array>
		<string>health-records</string>
	</array>
	<key>com.apple.developer.healthkit.background-delivery</key>
	<true/>
	<key>com.apple.developer.healthkit.recalibrate-estimates</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.icloud-container-development-container-identifiers</key>
	<array>
		<string>iCloud.NX22QCXLLH</string>
	</array>
	<key>com.apple.developer.icloud-container-environment</key>
	<array>
		<string>Production</string>
		<string>Development</string>
	</array>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.NX22QCXLLH</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<string>*</string>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.NX22QCXLLH</string>
	</array>
	<key>com.apple.developer.kernel.extended-virtual-addressing</key>
	<true/>
	<key>com.apple.developer.kernel.increased-debugging-memory-limit</key>
	<true/>
	<key>com.apple.developer.kernel.increased-memory-limit</key>
	<true/>
	<key>com.apple.developer.networking.HotspotConfiguration</key>
	<true/>
	<key>com.apple.developer.networking.multipath</key>
	<true/>
	<key>com.apple.developer.networking.networkextension</key>
	<array>
		<string>app-proxy-provider</string>
		<string>content-filter-provider</string>
		<string>packet-tunnel-provider</string>
		<string>dns-proxy</string>
		<string>dns-settings</string>
		<string>relay</string>
		<string>url-filter-provider</string>
		<string>hotspot-provider</string>
	</array>
	<key>com.apple.developer.pass-type-identifiers</key>
	<array>
		<string>NX22QCXLLH.*</string>
	</array>
	<key>com.apple.developer.pay-later-merchandising</key>
	<array>
		<string>payinfour-merchandising</string>
	</array>
	<key>com.apple.developer.playable-content</key>
	<true/>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.developer.spatial-audio.profile-access</key>
	<true/>
	<key>com.apple.developer.team-identifier</key>
	<string>NX22QCXLLH</string>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>iCloud.NX22QCXLLH</string>
	</array>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>NX22QCXLLH.*</string>
	<key>com.apple.developer.user-fonts</key>
	<array>
		<string>app-usage</string>
		<string>system-installation</string>
	</array>
	<key>com.apple.developer.usernotifications.communication</key>
	<true/>
	<key>com.apple.developer.usernotifications.filtering</key>
	<true/>
	<key>com.apple.developer.weatherkit</key>
	<true/>
	<key>com.apple.external-accessory.wireless-configuration</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.NX22QCXLLH</string>
	</array>
	<key>get-task-allow</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>NX22QCXLLH.*</string>
		<string>com.apple.token</string>
	</array>
</dict>
</plist>
